body {
    background-color: black;
}
h1 {
    color:aqua;
    text-align: center;
    font-style: oblique;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color:aqua;
}
p{
    color: antiquewhite;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
b {
    color:red;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
li {
    font-style: italic;
    color:lightskyblue;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
    text-decoration: none;
    font-style: italic;
    color:lightskyblue;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}